/* Stile di default */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile header */

.header-container{   
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgb(173, 216, 230);
    justify-content: center;
    align-items: center;
}
 
.row-header{
    border: 2px dashed black;
    display: flex;
    height: 30px;
    width: 1080px;
    background-color: orange;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

.col-logo, .col-login, .col-link {
    border: 2px dashed black;
    align-items: center;   
}

/* Inizio main */

main{
    background-color: rgb(173, 216, 230);
}

/* Prima section  */

.row-blue{
    margin-bottom: 2px;
}

.blue-container{
    display: flex;
    height: 350px;
    width: 100%;
    background-color: rgb(8, 8, 139);
    justify-content: center;
    align-items: center;
}

.pink-col{
    border: 2px dashed black;
    height: 300px;
    width: 50%;
    background-color: violet;
}

/* Seconda section */

.white-container{
    display: flex;
    height: 350px;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.lightblue-col{
    border: 2px dashed black;
    height: 300px;
    width: 35%;
    background-color: rgb(88, 88, 228);
}

.lightpink-col{
    border: 2px dashed black;
    height: 300px;
    width: 25%;
    background-color: rgb(255, 192, 203);
}

/* Terza section */

.gray-container{
    background-color: lightgray;
    display: flex;
    height: 350px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.lightblue-col-two{
    border: 2px dashed black;
    height: 300px;
    width: 25%;
    background-color: rgb(88, 88, 228);
}

.lightpink-col-two{
    border: 2px dashed black;
    height: 300px;
    width: 35%;
    background-color: rgb(255, 192, 203);
}

/* Quarta section */

.gray-container-two{
    background-color: lightgray;
    display: flex;
    height: 550px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.green-col{
    border: 2px dashed black;
    height: 500px;
    width: 60%;
    background-color: green;
}

/* Quinta section */

.black-container{
    display: flex;
    height: 400px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
}
.darkpink-col{
    border: 2px dashed black;
    width: 18%;
    height: 350px;
    background-color: rgb(240, 128, 128);
}
.aqua-col{
    border: 2px dashed white;
    width: 10.5%;
    height: 350px;
    background-color: rgb(32, 178, 170);
}

/* Footer */

.black-container-two{
    display: flex;
    height: 100px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    align-items: flex-end;
    
}

.lightgreen-container{
    display: flex;
    width: 60%;
    height: 80px;
    background-color: rgb(127, 255, 212);
    justify-content: space-between;
    align-items: center;
}

.footer-logo-col{
    border: 2px dashed black;
    height: 25px;
    padding-right: 5px;
    background-color: rgb(255, 182, 193);
}

.footer-bottone-col{
    border: 2px dashed black;
    height: 25px;
    padding-left: 5px;
    background-color: rgb(255, 182, 193);
}